
body{
  background-color: grey;
}

.list-group.list-group-horizontal.hi{
  display: flex;
  justify-content: center;
}
#container {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:900px;
	width:1500px;
	padding: 0;
	border: none;
}

.cell {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
}

.gridContainer{
  text-align: center;
}
