
body{
  background-color: grey;
}
.li{
  font-size: 500px;
}
.list-group.list-group-horizontal.hi{
  display: flex;
  justify-content: center;
}
.start-node{
  background-color: green;
}
.titled{
  margin-bottom: 0px;
}
.h1c{
  margin-top:0px;
  text-align: center;
}
.final-node{
  background-color: red;
}
.visited-node{
  background-color: blue;
}
.shortest-node{
  background-color: yellow;
}

#container {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:900px;
	width:1500px;
	padding: 0;
	border: none;
}
.wall-node{
  background-color: black;
}
.menu ul {
  list-style: none;
  padding: 0;
  display: inline-flex
}
.dummyCell{
  margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
}
.cell {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
}
.unvisit {

}

.gridContainer{
  text-align: center;
}

.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.black{
  background-color: black;
}
.grey{
  background-color: grey;
}
